body {
	padding-top: 96px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

/*Start of index styling*/

.block h2{
	text-align: center;
}

.block{
	padding: 3em 0;
}

.blue-bg{
	background: #201E1C;
	color: rgba(236, 240, 241,.9);
}
.picture-bg{
	
	background: #51C1C5;
	padding-bottom: 25px;
	color: #201E1C;
	text-align: center;
}
.picture-bg img{
	margin-bottom: 8px;
	border-radius: 50%;
	border: 6px solid #333;

}
.picture-bg h1{
	margin-bottom: 50px;
}


.process span{
	font-size: 75px;
	border-radius: 50%;
	border: 6px solid #51C1C5;
	padding: 50px;
	background: #201E1C;
	color: #51C1C5;
	
}



.strategy h2{
	border-bottom: 2px solid #333;
	margin: 0 10em;
	padding-bottom:18px;
	
}
.strategy h3{
	text-align: center;
}

/*End of index styling*/


/*Start of Services Styling*/
.cms-features span{
	font-size: 75px;
	border-radius: 50%;
	border: 6px solid #201E1C;
	padding: 25px;
	background: #51C1C5;
	color: #201E1C;
}

.cms-features h1{
	text-align: center;
}

.cms-features {
	
	text-align: center;
}


/*End of Services Styling*/




/*Start of ecommerce styling*/


/*End of ecommerce styling*/




