.navbar-inverse{
	background: #201E1C;
	border: 0;
}
.navbar-brand{
	background: url(../images/tech5_designs_blue.png) no-repeat;
	background-size: 12em;
	text-indent: -9999px;
	height: 30px;
	width: 12.5em;
	position: relative;
	bottom: -.5em;
	left: 31px;
}
.navbar-inverse .navbar-nav>li>a{
	color: #FFF;
}
.navbar-inverse .navbar-nav>li>a {
	background: inherit;
	transition: background-color 0.5s ease;
}
.navbar-inverse .navbar-nav> li.active >a {
	background: #48A3A6;
}
.navbar-inverse .navbar-nav>li.highlight>a{
	background: #4F4F4F;
}
.navbar-nav .highlight a{
	color: #FFF;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #48A3A6;
	transition: background-color 0.5s ease;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #48A3A6;
	transition: background-color 0.5s ease;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus{
	background-color: #51C1C5;
	
}
@media (min-width: 768px){
	.navbar-inverse .navbar-nav>li>a {
		padding: 1em;
		margin-right:3px;

	}
}
